nodered.json
[{"id":"625d469a.55e3d8","type":"tab","label":"Emergency Detection and Handling using Wearable Device","disabled":false,"info":""},{"id":"18e370a.d2b198f","type":"ui_tab","z":"","name":"COVID Voice Chatbot","icon":"dashboard","disabled":false,"hidden":false},{"id":"4f57fb54.71cfe4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c2eb9118.a208e","type":"ui_group","z":"","name":"","tab":"db40215c.65efa","order":1,"disp":true,"width":"6","collapse":false},{"id":"88045e0b.e8e0f","type":"ui_group","z":"","name":"Chat","tab":"18e370a.d2b198f","order":2,"disp":true,"width":"10","collapse":false},{"id":"1cb878ad.926d57","type":"ui_spacer","name":"spacer","group":"c2eb9118.a208e","order":5,"width":1,"height":1},{"id":"9bfa3c1e.f0a78","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62958fcc.4c7c6","type":"nexmovoiceapp","z":"","name":"Autocall"},{"id":"fbd53805.7a19b8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"7bcf37c5.a3c9e8","type":"nexmobasic","z":""},{"id":"9772662f.38e188","type":"ui_group","z":"","name":"Default","tab":"e212ea1d.7d8828","order":1,"disp":true,"width":"12","collapse":false},{"id":"e212ea1d.7d8828","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"db40215c.65efa","type":"ui_tab","z":"","name":"Heart Rate Response","icon":"dashboard","disabled":false,"hidden":false},{"id":"22093e37.95ca92","type":"ui_group","name":"Group 2","tab":"db40215c.65efa","order":2,"disp":true,"width":6},{"id":"266b4bbf.1de5a4","type":"ui_group","z":"","name":"flowtest","tab":"a5b7b344.05d23","order":1,"disp":true,"width":"12","collapse":false},{"id":"a5b7b344.05d23","type":"ui_tab","z":0,"name":"Test","icon":"dashboard","order":6},{"id":"e744d79b.5d7408","type":"websocket-listener","z":"","path":"/ws/receiveMessage","wholemsg":"false"},{"id":"9de9ad87.5ebac","type":"websocket-listener","z":"","path":"/ws/publishMessage","wholemsg":"false"},{"id":"205c5e01.63abf2","type":"file in","z":"625d469a.55e3d8","name":"Read User location and relevant info from phone","filename":"C:\\Users\\User\\desktop\\contact","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":1580,"y":480,"wires":[["16216752.25c099"]]},{"id":"96d87c8.c452a8","type":"inject","z":"625d469a.55e3d8","name":"heart rate(Normal)","topic":"Heart_Rate","payload":"{\"Activity\":\"Normal\",\"Value\":65}","payloadType":"json","repeat":"10","crontab":"","once":true,"onceDelay":"5","x":190,"y":280,"wires":[["8a91e36c.70a96","990ca58b.b6ba38"]]},{"id":"8ee8c4ab.fe1d08","type":"debug","z":"625d469a.55e3d8","name":"Send Notification to SCDF and SCDF officer can send info to CFRs nearby","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2040,"y":420,"wires":[],"icon":"node-red/envelope.svg"},{"id":"990ca58b.b6ba38","type":"function","z":"625d469a.55e3d8","name":"Identify Activity","func":"if (msg.payload.Activity == \"Normal\"){\n    msg.payload = msg.payload.Value\n    return [msg, null];\n}\nelse {\n    msg.payload = msg.payload.Value\n    return [null, msg]\n}\n","outputs":2,"noerr":0,"x":580,"y":380,"wires":[["983a0ce5.e2bd1"],["f2c5a094.46fc7"]]},{"id":"6f0ca2f2.62835c","type":"inject","z":"625d469a.55e3d8","name":"abnormal heart rate(Normal)","topic":"Heart_Rate","payload":"{\"Activity\":\"Normal\",\"Value\":200}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":340,"wires":[["990ca58b.b6ba38","99c901f4.d93b"]]},{"id":"7de35b18.486b84","type":"function","z":"625d469a.55e3d8","name":"Check user reply","func":"if (msg.payload == 'Dismiss') {\n    return null;\n}\nelse\n{\n    msg.payload = \"Abnormal heart rate! Need help immediately\"\n    return [msg];\n}","outputs":1,"noerr":0,"x":2070,"y":120,"wires":[["205c5e01.63abf2","16216752.25c099"]]},{"id":"8fd1d73a.ec7d88","type":"ui_toast","z":"625d469a.55e3d8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"I need help!","cancel":"Dismiss","raw":false,"topic":"","name":"Warning message shown on wearable screen(with vibration)","x":1660,"y":100,"wires":[["7de35b18.486b84"]]},{"id":"4fc1c09b.ff76d","type":"delay","z":"625d469a.55e3d8","name":"If no reply, send help message","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1670,"y":160,"wires":[["7de35b18.486b84"]]},{"id":"c25f6641.395858","type":"inject","z":"625d469a.55e3d8","name":"User Data","topic":"","payload":"\"location\": XXX \\n \"Age\" : 60 \\n \"BMI\": 22.3 \\n \"Prev Cardiac Record\": True","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":1300,"wires":[["cad74caf.2ea0a"]]},{"id":"cad74caf.2ea0a","type":"file","z":"625d469a.55e3d8","name":"Write user details","filename":"C:\\Users\\User\\desktop\\contact","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":410,"y":1300,"wires":[[]]},{"id":"16216752.25c099","type":"join","z":"625d469a.55e3d8","name":"Compile user conditions and info to be sent to SCDF","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1560,"y":420,"wires":[["8ee8c4ab.fe1d08"]]},{"id":"983a0ce5.e2bd1","type":"switch","z":"625d469a.55e3d8","name":"Check HR(Normal)","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"Normalmax","vt":"global"},{"t":"gte","v":"400","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":360,"wires":[["59b9eaac.7f89b4"],["2bde1416.822d3c"],["c7741323.adfe8"]]},{"id":"c7741323.adfe8","type":"debug","z":"625d469a.55e3d8","name":"Normal HR! do nothing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":500,"wires":[]},{"id":"b4ab06d7.5b8af8","type":"function","z":"625d469a.55e3d8","name":"Prompt User Reply","func":"msg.payload = \"Abnormal heart rate! Do you need help?\";\nreturn [msg]\n","outputs":1,"noerr":0,"x":1290,"y":120,"wires":[["8fd1d73a.ec7d88","4fc1c09b.ff76d"]]},{"id":"2bde1416.822d3c","type":"function","z":"625d469a.55e3d8","name":"Inform SCDF","func":"msg.payload = \"Immediate help required, Heart Rate > 400\";\nreturn [msg]\n\n","outputs":1,"noerr":0,"x":1070,"y":400,"wires":[["205c5e01.63abf2","16216752.25c099"]]},{"id":"279c53da.719c8c","type":"function","z":"625d469a.55e3d8","name":"Global  Normal max","func":"global.set('Normalmax', msg.result)\n    msg={payload:global.get('Normalmax')}\nreturn msg","outputs":1,"noerr":0,"x":1210,"y":1000,"wires":[["9ebaf1b0.53741"]]},{"id":"2f454efe.a6e7e2","type":"inject","z":"625d469a.55e3d8","name":"HeartRate >400","topic":"Heart_Rate","payload":"{\"Activity\":\"Normal\",\"Value\":450}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":540,"wires":[["990ca58b.b6ba38","db274521.563e28"]]},{"id":"59b9eaac.7f89b4","type":"batch","z":"625d469a.55e3d8","name":"","mode":"count","count":"18","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":990,"y":120,"wires":[["deaf087d.0c8a48"]]},{"id":"deaf087d.0c8a48","type":"join","z":"625d469a.55e3d8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1110,"y":120,"wires":[["b4ab06d7.5b8af8"]]},{"id":"15413aa2.8a8035","type":"inject","z":"625d469a.55e3d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":190,"y":1000,"wires":[["7e8471c8.57823"]]},{"id":"9ebaf1b0.53741","type":"debug","z":"625d469a.55e3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":1000,"wires":[]},{"id":"7e8471c8.57823","type":"alafile in","z":"625d469a.55e3d8","name":"data","filename":"C:\\Users\\User\\Desktop\\UserHRdata","format":"csv","columns":"[Value] , [Activity]","headers":true,"x":370,"y":1000,"wires":[["a4ca227e.10b66"]]},{"id":"a82a8e70.48a16","type":"Data Analysis","z":"625d469a.55e3d8","name":"","action":"max","outputs":2,"outliersBase":"avg","outliersStdDevs":"3","term":"10","keyProperty":"msg.topic","dataProperty":"msg.payload","dataProperties":["msg.payload[0]","msg.payload[1]"],"x":970,"y":1000,"wires":[["279c53da.719c8c"],[]]},{"id":"a4ca227e.10b66","type":"function","z":"625d469a.55e3d8","name":"","func":"var i=0;\nvar newmsg;\nwhile (i< 3708){\n    if (msg.payload[i].Activity == \"Normal\"){\n        newmsg={payload: msg.payload[i].Value} \n        node.send(newmsg)}\n    i++;\n}","outputs":1,"noerr":0,"x":590,"y":1000,"wires":[["3f311fba.0dff"]]},{"id":"3f311fba.0dff","type":"join","z":"625d469a.55e3d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":1000,"wires":[["a82a8e70.48a16"]]},{"id":"f8b9e8c7.a92fb8","type":"function","z":"625d469a.55e3d8","name":"Global Exercise max","func":"global.set('Exercisemax', msg.result)\n    msg={payload:global.get('Exercisemax')}\nreturn msg","outputs":1,"noerr":0,"x":1220,"y":1140,"wires":[["b821c071.ba1a1"]]},{"id":"7821750f.57213c","type":"inject","z":"625d469a.55e3d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":190,"y":1140,"wires":[["e13c59d.180dca8"]]},{"id":"b821c071.ba1a1","type":"debug","z":"625d469a.55e3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":1140,"wires":[]},{"id":"e13c59d.180dca8","type":"alafile in","z":"625d469a.55e3d8","name":"data","filename":"C:\\Users\\User\\Desktop\\UserHRdata","format":"csv","columns":"[Value] , [Activity]","headers":true,"x":370,"y":1140,"wires":[["e427f824.2c7818"]]},{"id":"f83c169c.2454b8","type":"Data Analysis","z":"625d469a.55e3d8","name":"","action":"max","outputs":2,"outliersBase":"avg","outliersStdDevs":"3","term":"10","keyProperty":"msg.topic","dataProperty":"msg.payload","dataProperties":["msg.payload[0]","msg.payload[1]"],"x":970,"y":1140,"wires":[["f8b9e8c7.a92fb8"],[]]},{"id":"e427f824.2c7818","type":"function","z":"625d469a.55e3d8","name":"","func":"var i=0;\nvar newmsg;\nwhile (i< 3708){\n    if (msg.payload[i].Activity == \"Exercise\"){\n        newmsg={payload: msg.payload[i].Value} \n        node.send(newmsg)}\n    i++;\n}","outputs":1,"noerr":0,"x":590,"y":1140,"wires":[["759824d3.91f08c"]]},{"id":"759824d3.91f08c","type":"join","z":"625d469a.55e3d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":1140,"wires":[["f83c169c.2454b8"]]},{"id":"8a91e36c.70a96","type":"debug","z":"625d469a.55e3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]},{"id":"fc068bf0.2cbd78","type":"inject","z":"625d469a.55e3d8","name":"heart rate(Exercise)","topic":"Heart_Rate","payload":"{\"Activity\":\"Exercise\",\"Value\":120}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"5","x":180,"y":400,"wires":[["990ca58b.b6ba38","7982cae2.2d2ee4"]]},{"id":"7ffc3893.83ccc8","type":"inject","z":"625d469a.55e3d8","name":"abnormal heart rate(Exercise)","topic":"Heart_Rate","payload":"{\"Activity\":\"Exercise\",\"Value\":300}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["990ca58b.b6ba38","d276d381.5e23b"]]},{"id":"f2c5a094.46fc7","type":"switch","z":"625d469a.55e3d8","name":"Check HR(Exercise)","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"Exercisemax","vt":"global"},{"t":"gte","v":"400","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":800,"y":420,"wires":[["59b9eaac.7f89b4"],["2bde1416.822d3c"],["c7741323.adfe8"]]},{"id":"99c901f4.d93b","type":"debug","z":"625d469a.55e3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":320,"wires":[]},{"id":"d276d381.5e23b","type":"debug","z":"625d469a.55e3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":480,"wires":[]},{"id":"db274521.563e28","type":"debug","z":"625d469a.55e3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":540,"wires":[]},{"id":"7982cae2.2d2ee4","type":"debug","z":"625d469a.55e3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":440,"wires":[]},{"id":"2301863b.24ee6a","type":"inject","z":"625d469a.55e3d8","name":"Fall Detected","topic":"Heart_Rate","payload":"Fall Detected","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":680,"wires":[["13185f66.5c2bd1","dbe0c1d1.a7d1e"]]},{"id":"13185f66.5c2bd1","type":"debug","z":"625d469a.55e3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":600,"wires":[]},{"id":"d4af74e1.449908","type":"function","z":"625d469a.55e3d8","name":"Check User reply","func":"if (msg.payload == 'Dismiss') {\n    return null;\n}\nelse\n{\n    msg.payload = \"Fall Detected! Need help immediately\"\n    return [msg];\n}","outputs":1,"noerr":0,"x":1290,"y":700,"wires":[["205c5e01.63abf2","16216752.25c099"]]},{"id":"e78e75cc.d816b8","type":"delay","z":"625d469a.55e3d8","name":"If no reply, send help message","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":740,"wires":[["d4af74e1.449908"]]},{"id":"dbe0c1d1.a7d1e","type":"function","z":"625d469a.55e3d8","name":"Prompt User reply","func":"msg.payload = \"Fall Detected! Do you need help?\";\nreturn [msg]\n","outputs":1,"noerr":0,"x":590,"y":700,"wires":[["e78e75cc.d816b8","b410b308.877ee"]]},{"id":"b410b308.877ee","type":"ui_toast","z":"625d469a.55e3d8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"I need help!","cancel":"Dismiss","raw":false,"topic":"","name":"Warning message shown on wearable screen(with vibration)","x":940,"y":680,"wires":[["d4af74e1.449908"]]},{"id":"5d84400a.d4a53","type":"comment","z":"625d469a.55e3d8","name":"Identify a series of abnormal heart rate detected","info":"","x":1200,"y":180,"wires":[]},{"id":"ec9b7bed.a60118","type":"comment","z":"625d469a.55e3d8","name":"Simulation inputs from wearable device","info":"","x":190,"y":40,"wires":[]},{"id":"602fec61.c66b74","type":"comment","z":"625d469a.55e3d8","name":"Program in phone to compute max HR based on data of user daily activities","info":"","x":340,"y":880,"wires":[]},{"id":"de1498db.49d558","type":"comment","z":"625d469a.55e3d8","name":"Compute max HR (Normal)","info":"","x":210,"y":940,"wires":[]},{"id":"a10f3aba.a26a08","type":"comment","z":"625d469a.55e3d8","name":"Compute max HR (Exercise)","info":"","x":220,"y":1080,"wires":[]},{"id":"d3fcc483.e11a58","type":"comment","z":"625d469a.55e3d8","name":"User needs to key in details in their phone upon getting the wearable device, location will be based on phone GPS","info":"","x":460,"y":1240,"wires":[]},{"id":"dd1814f9.a0fa88","type":"comment","z":"625d469a.55e3d8","name":"Send Notification to SCDF through SMS, can be implemented with nexmo","info":"","x":2040,"y":380,"wires":[]},{"id":"4bfd445.ea044bc","type":"comment","z":"625d469a.55e3d8","name":"Program in User's phone","info":"","x":610,"y":40,"wires":[]}]